:root {
    --sidebar-cell-size: 22.5px;
    --grid-cell-size: 0px;

    --sidebar-button-bgcolor: #B0E0B0;
    --sidebar-button-bgcolor-active: #80B080;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-rows: 75px 125px auto;//calc(100% - 75px);
    grid-template-columns: 235px auto;
    grid-template-areas:
        "header header"
        "sidebar frames"
        "sidebar sketch";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #FFE070;
    
    #site-name-wrapper {
        display: flex;
        justify-content: flex-start;

        #site-name {    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1em;
    
            margin: 25px;
        }
    }

    #sketch-name-wrapper {
        display: flex;
        justify-content: center;

        #sketch-name {
            width: 300px;
            height: 70%;
            border: none;
            margin: auto 0;
            padding: 0 10px;
            border-radius: 5px;
            font-size: 1.5em;
            text-align: center;
            background-color: #FFF0B0;
        }

    }
}

#sidebar {
    grid-area: sidebar;
    left: 0;
    height: auto;
    background-color: #90C070;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding:10px;
    
    .nav-section {
        background-color: #6090F0;
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;

        h2 {
            text-align: center;
            font-size: 1em;
        }

        .buttons-container {
            padding: 10px 0px 0px 0px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            align-items: flex-start;
            gap: 5px;
            font-size: 12.5px;

            .nav-cell {
                box-sizing: border-box;
                min-height: var(--sidebar-cell-size);
                line-height: var(--sidebar-cell-size);
                width: 100%;
                background-color: var(--sidebar-button-bgcolor);
                border: none;
                box-shadow: 1px 1px black;
                grid-column: auto / span 1;
                text-align: center;

                &.two-units {
                    grid-column: auto / span 2;
                }

                &.three-units {
                    grid-column: auto / span 3;
                }

                &.four-units {
                    grid-column: auto / span 4;
                }

                &.draw-mode.checked {
                    background-color: var(--sidebar-button-bgcolor-active);
                }

                &.color-grid {
                    padding: 5px 0;
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    justify-content: space-between;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
    
                    .color-btn {
                        height: var(--sidebar-cell-size);
                        width: 100%;
                        grid-column: auto / span 1;
                        border: none;
    
                        &.recent {
                            border: solid black;
                            border-width: 1px 0 1px 1px;
    
                            &:last-child {
                                border-width: 1px;
                            }
                        }
                    }
                }

                &#download-wrapper {
                    position: relative;
                    display: block;
    
                    span#download-button-wrapper {
                        display: flex;
                        height: var(--sidebar-cell-size);
                        line-height: var(--sidebar-cell-size);

                        #download-button, #dropdown-button {
                            background-color: transparent;
                            border: none;
                        }

                        #download-button {
                            width: 80%;
                        }

                        #dropdown-button {
                            width: 20%;
                            border-left: 0.5px solid black;
                        }
                    }

                    #dropdown-menu {
                        position: absolute;
                        left: calc(50%);
                        display: none;
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        background-color: #DDD;
                        width: 50%;
                        box-shadow: 2px 2px solid black;

                        &.show {
                           display: block;
                        }

                        .dropdown-menu-item {
                            display: block;
                            background-color: #DDD;
                            border: none;
                            outline: none;
                            width: 100%;
                            height: 22.5px;

                            &:hover {
                                background-color: #AAA;
                            }
                        }
                    }
                }

                div {
                    height: var(--sidebar-cell-size);
                }
            }

            #file-input {
                display: none;
            }
        }
    }
}

#pixel-color-picker {
    height: var(--sidebar-cell-size);
}

#frames-section {
    grid-area: frames;
    background-color: skyblue;
    
    display: flex;
    align-items: center;
    justify-content: center;

    #frames {
        position: relative;
        left: 20px;

        border: 5px solid silver;
        width: fit-content;

        display: flex;
        align-items: center;

        .frame-item {
            border: 1px solid silver;

            &.selected {
                border: 2px solid gold;
            }
        }
    }
}

#sketch-section {
    grid-area: sketch;

    background-color: #FFF0B0;
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    #sketch {

        button {
            width: var(--grid-cell-size);
            height: var(--grid-cell-size);
        }

        .grid-row {
            display: flex;

            .grid-btn {
                border: 0.5px solid lightgray;
            }
        }
    }
}